body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* responsive */
@media (max-width: 800px) {
  body {
    max-width: 100%;
    position: relative;
    margin: auto;
    top: 30px;
    padding-left: 9px;
    padding-right: 9px;
  }
}

.content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 600px; /* Adjust max-width based on your design */
  width: 100%; /* Ensure it takes 100% width on smaller screens */
  box-sizing: border-box; /* Include padding and border in the width */
  margin: 0 auto; /* Center the content horizontally */
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;
}

input {
  width: calc(100% - 16px); /* Adjust width and consider box-sizing */
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 4px;
  width: 65%; /* Make the button take 100% width */
}

button:hover {
  background-color: #45a049;
}

#answer {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}
